  body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.smallCard {
  /* height: 150px; */
  width: 150px;
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* padding: 10px; */
  margin: 10px
}

.smallCard img {
  height: 100px;
  width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}